<footer class="footer bg-body-tertiary text-start text-lg-start" style="background-color: rgba(217, 224, 230);">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-3">Company</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-2"><a href="#!" class="text-body">About Us</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Careers </a></li>
          <li class="mb-2"><a href="#!" class="text-body">Leadership</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Q&A Archive</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Educator Events</a></li>
        </ul>
      </div>
 
      <div class="col-lg-2 col-md-4">
        <h5 class="text-uppercase mb-3">Get Course Hero</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#!" class="text-body">iOS</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Android</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Chrome Extension</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Tutors</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4">
        <h5 class="text-uppercase mb-3">Study Tools</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#!" class="text-body">AI Homework Help</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Flashcards</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Grammar Checker</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Paraphraser</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Proofreader</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Spell Checker</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4">
        <h5 class="text-uppercase mb-3">Help</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#!" class="text-body">Contact Us</a></li>
          <li class="mb-2"><a href="#!" class="text-body">FAQ</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Feedback</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4">
        <h5 class="text-uppercase mb-3">Legal</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#!" class="text-body">Copyright Policy</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Academic Integrity</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Our Honor Code</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Privacy Policy</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Terms of Use</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Attributions</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Do Not Sell or Share My Personal Info</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-4">
        <h5 class="text-uppercase mb-3">Connect with Us</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#!" class="text-body">College Life</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Facebook</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Twitter</a></li>
          <li class="mb-2"><a href="#!" class="text-body">LinkedIn</a></li>
          <li class="mb-2"><a href="#!" class="text-body">YouTube</a></li>
          <li class="mb-2"><a href="#!" class="text-body">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-2 col-md-4">
      <ul class="list-unstyled mb-0">
        <li><a href="#!" class="text-body"><img src="https://assets.coursehero.com/ssi/9d6d779b17bc16632bc3.svg" width="150" height="60"></a></li>
      </ul>
    </div>
   
    <div class="col-lg-2 col-md-4">
      <ul class="list-unstyled mb-0">
        <li><a href="#!" class="text-body"><img src="https://assets.coursehero.com/ssi/12261e6ffd11999a5782.svg" width="150" height="60"></a></li>
      </ul>
    </div>

    <div class="mt-4"></div>
    <div class="text-center p-3 d-flex justify-content-between">
      <div>
        <p class="mb-0">Copyright © 2024. Course Hero, Inc.</p>
      </div>
      <div>
        <p class="mb-0">Course Hero is not sponsored or endorsed by any college or university.</p>
      </div>
    </div>
  </div>
</footer>
